<body fxLayout="row" fxLayoutAlign="center center">

    <div class="loginbx">
        <div><img src="../../../assets/google-logo-9834.png" style="height:24px;width:74px;" alt=""></div>
        <h1 style="padding-top:16px;margin:0px ;"><span>Enter Your EmailId</span></h1>
        <div class="gltxt"><span>Resetpassword link will be sent to your email address </span></div>
        <form [formGroup]="forgotform" (ngSubmit)="forgotsubmit()" >
            <div style="height:150px; padding-top:24px ;">
                <div style="text-align:start;">
                    <mat-form-field appearance="outline" class="inputtxt">
                        <mat-label>Email address</mat-label>
                        <input matInput placeholder="Email address" formControlName="email">
                    </mat-form-field>
                </div>
            </div>
            <div style=" margin-left: 20px; width: 400px;" fxLayout="row"
                fxLayoutAlign="end">
                <button mat-raised-button color="primary"
                    style="background-color:#1a73e8; width:82px; letter-spacing: .25px;" type="submit">Next</button>
            </div>
        </form>
    </div>
</body>