.titleinput{
    font-size: 27px;
    height: 42px;
    width: 500px;
    font-weight: 500;
    border: none;
    outline: none;

}
.descpinput{
    font-size: 18px;
    height: 42px;
    width: 331px;
    border: none;
    outline: none;
}