<div style="display: flex; justify-content: center;">
    
<div *ngIf="show; else elseBlock"class="notebox">
    <form style="display: flex; justify-content: space-between; align-items: center; padding-right: 10px;">
        
    <input placeholder="Take a note..." (click)="showblk()" style="width:450px;">
    <span class="material-symbols-outlined">
        fact_check
        </span>
    <span class="material-symbols-outlined">
        brush
        </span>
        <span class="material-symbols-outlined">
                photo
                </span>
    </form>
</div>
<ng-template #elseBlock>
    <div class="notebox" >
        <form [formGroup]="noteform" (ngSubmit)="notesubmit()">
           <input type="text" placeholder="Title" formControlName="title"><span class="material-symbols-outlined">
               push_pin
               </span>
           <input type="text" placeholder="Take a note..." formControlName="takenote">
           <div class="iconblock">
               <app-icon></app-icon>
               <button type="submit" style="font-size: 16px;background: none;border: none;">Close</button>
           </div>
        </form>
       </div>
</ng-template>

</div>




